@use "../global/mixin" as g;

.l-main {
    background-color: #FFFDFA;
}


.l-main__archive__top__image {
    position: relative;
    background-image: url(../../images/archive-top-pc.png);
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 239px;

&::before {
    content: ""; 
    background-color: rgba(0,0,0,0.5);
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}
}
.l-main__archive {
    margin: 40px 80px 50px 80px;
}
.l-main__archive__subheading {
    font-size: 2.8em;
    margin-bottom: 25px;
}

.archive__card {
    display: flex;
    margin-bottom: 15px;
@include g.breakpoint (tablet) {
    margin: 0vh 10vh 5vh 10vh;
}
}

.archive__card__body {
    display: flex;
    width: 100%;
}

.archive__card__img {
    background-image: url(../../images/archive-section.png);
    width: 70%;
    background-size: cover;
}

.archive__card__txt {
    background-color: #3C2B1C;
    width: 60%; 
    padding: 10vh 20vh 10vh 20vh;
    color: #fff;
@include g.breakpoint (tablet) {
    padding: 10vh;
}    
}

.archive__card__txt h2 {
    font-size: 2.8em;
    margin-bottom: 10vh;
}

.archive__card__txt h4 {
    font-size: 2em;
    margin-bottom: 15px;
}



