.l-footer {
    background-image: url(../../images/footer.png);
    width: 100%;
    grid-column: 1/3;
    color: #fff;
    text-align: center;
& p {
    font-size: 1.8em;
    margin-top: 30px;
    margin-bottom: 30px;
}
& small {
    font-size: 1.5em;
}
}

