$color-lightgray: #707070;

.l-header {
        background-color: #FFF7EF;

    &__title {
        display: flex;
        justify-content: center;
        color: $color-lightgray;
        padding-top: 35px;
        font-size: 4em;
    }
}

