$color-lightgray: #707070;

.l-header {
        background-color: #FFF7EF;
        display: flex;
        justify-content: space-between;
        align-items: center;

    &__title {
        color: $color-lightgray;
        font-size: 4.8em;
        margin-left: 45px;
    }
}

@media screen and (max-width: 1024px) {
    .l-header {
        display: flex;
        flex-flow: column;
    
    &__title {
        margin-top: 40px;
    }
    }

}
    

