$color-lightgray: #707070;

.l-header {
        background-color: #FFF7EF;
        display: flex;
        justify-content: space-between;
        align-items: center;

    &__title {
        color: $color-lightgray;
        font-size: 5.4em;
        margin-left: 65px;
    }
}

