.l-main__archive__top__txt {
    position: absolute;
    top: 40%;
    left: 5%;
    color: #fff;
    font-size: 3.8em;
}

.l-main____archive__top__txt_sub {
    position: absolute;
    top: 48%;
    left: 200px;
    font-size: 1.6em;
    color: #fff;
}

