@use "../global/" as g;

.pagination {
    display: flex;
    justify-content: center;
    margin-top: 150px;
    margin-bottom: 64px;
    font-weight: bold;

}
.pagination p {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.6em;
    font-weight: 500;
    
}

.pagination .prev {
    color: #707070;
    border: none;
    font-size: 1.6em;
    align-items: center;
}
.pagination .next {
    color: #707070;
    border: none;
    font-size: 1.6em;
    align-items: center;
}

.pagination li {
    display: inline;
    margin-right: 10px;
    padding:5px 10px;
    border:1.5px #ccc solid;color:#707070;
    font-size: 1.6em;
    color: #707070;
    background-color: #fff;
}
    
.pagination .first {background-color:#3C2B1C;color:#fff;}
    
    